@import "compass";
@import "compass/css3";

@import "mixins";
@import "variables";
@import "modules";

/** {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}*/


body{
	background-color:#ddd !important;
}
#main{
	background:#fff;
	padding:20px;
	@include border-radius(5px);
	@include box-shadow(0 1px 2px black(0.35));
}
a{
	&:hover{
		background:none;
		color:#005580;
	}
}